<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container mt-4">
    <button class="btn mx-4 btn-sm btn-outline-primary" routerLink="/new-user">Register</button>
    <button class="btn mx-4 btn-sm btn-outline-primary" routerLink="/registered-users">Show Users</button>

    <router-outlet></router-outlet>
  </div>

  <!-- <ul *ngIf="users">
  <li *ngFor="let user of users">
    {{user.firstName}}
    {{user.lastName}}
  </li>
</ul> -->